:root {
  font-family: "Roboto", sans-serif;
  min-width: 320px;
}

* {
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  max-width: 100%;
}

#root,
body,
#root > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

#main {
  padding: 1.5rem;
}

button {
  cursor: pointer;

  &:hover:not(:disabled) {
    opacity: 0.75;
  }

  &:disabled {
    background-color: #777777;
    cursor: not-allowed;
  }
}
